.wall-products{
    width: 100%;
    height: 100%;
}
.tolbar{
    position: fixed;
    float: left;
    width: 60px;
    height: 100%;
    background: #1d2b53;
}
.option-bar{
    position: relative;
    top: 20%;
    display: block;
    list-style: none;
    padding: 0px;
    text-align: center;
}
.option-bar li a {
    display: block;
    color: #fff;
}
.option-bar li{
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 30px;
}
.option-bar li a:hover{ 
    background: #21638a;
    color: #FFF;
}
.option-bar .active{
    background: #21638a;
}

/**/
.contenido {
    text-align: center;
    background: rgb(245, 245, 246);
    padding-bottom: 50px;
}
.prodcontent{
    display: inline-block;
    position: relative; 
    margin-top: 50px;
    width: 90%;
}   
.roundstyle{
    width: 100%;
    background: #fff;
    height: 80px;
    margin: 0px;
    border-radius: 8px; 
}

.roundstyle p{
    color: rgb(102, 102, 102);
    font-size: 20px;
    margin: 0px;
}
.roundstyle p span{
    margin: 0 15px; 
}
.t-align{
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px;
    box-sizing: border-box;
    height: 100%;
    line-height: 48px;
}
.headbar{
    display: inline-block;
    width: 94%;
}
.bodybar{
    margin-top: 20px;
    display: inline-block;
    width: 96%;
}
.bodybar .row{
    margin: 0px !important;
}
.item-products{
    background: #fff;
    border-radius: 8px; 
    padding-bottom: 5px;
    margin-bottom: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.item-products:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.produc-cont{
    padding: 0 15px;
}
.produc-cont p{
    margin: 0px;
}
.img-prod{
    width: 100%;
    height: 230px;
    overflow: hidden;
}
.img-prod img{
    width: 100%;
    height: 100%;
}
.boton-add{
    float: right;
    background: deepskyblue;
    border: 0px;
    color: #fff;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
#publicar, #cancelar{
    margin: 10px;
    line-height: 40px;
}
/* busqueda */
.busqueda{
    width: 94%;
    height: 40px;
    text-align: center;
    margin: auto;
    margin-top: 10px;
}
#txt_busca{
    height: 100%;
    width: 70%;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 10px;
}
.btn_busca{
    height: 100%;
    background: #21638a;
    border: 0px;
    color: #fff;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}