/* Login page */
body{
    position: absolute;
    width: 100%;
    height: 100%;
}
.wallpaper{
    width: 100%;
    height: 100%;
    background: #21638a;
}
.card-container{
    position: relative;
    top: 25%;
    height: 50%;
}
.display-log{
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 40px;
}
.data-login{
    padding: 10px 20px;
    box-sizing: border-box;
    background: #fff;
    text-align: center;
}
.img-container{
    width: 50%;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.img-container img{
    width: 100%;
}
.logo-login{
    background: #666;
    text-align: center;
}
.icon-login{
    font-size: 20px;
    margin-right: 10px;
}
.input-login{
    margin: 10px 0px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
}
 /* dashboard  */
 .cardd{
    position: relative;
    top: 20%;
 }
 .dashboard-content{
    padding-bottom: 35px;
    background: rgba(23, 23, 69, .3);
    border-radius: 15px;
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.175em 0.5em, rgba(2, 8, 20, 0.08) 0px 0.085em 0.175em;
 }
.dashboard-option{
    box-sizing: border-box;
    padding: 15px 3px 5px;
    background: #1d2b53;
    text-align: center;
    margin-top: 35px;
    border-radius: 15px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 0.175em 0.5em, rgba(255, 255, 255, 0.08) 0px 0.085em 0.175em;
    transition: box-shadow 0.15s ease 0s, transform 0.15s ease 0s, -webkit-box-shadow 0.15s ease 0s, -webkit-transform 0.15s ease 0s;
}
.dashboard-option:hover{
    position: relative;
    top:-1px;
    left: -1px;
    box-shadow: rgba(2, 8, 20, 0.1) 2px 0.250em 0.5em, rgba(2, 8, 20, 0.08) 0px 0.250em 0.175em;

}
.ad-op{
    display: block;
    color: #fff;
}
.ad-op:hover{
    color: #fff;
    text-decoration: none;
}
.dashboard-option i{
    font-size: 100px;
}
.dashboard-option p{
    margin: 0px;
}
.wel-admin{
    position: relative;
    top: 15%;
    text-align: center;
    color: #fff;
}
.submit-boton{
    background: deepskyblue;
    border: 0px;
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.submit-boton:hover{
    background: rgb(68, 204, 250);
}